* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
input,
button {
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    letter-spacing: .02em;
}

body {
    background-color: #fefefe;
}

.title {
    margin: 2rem;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
}

.form {
    display: flex;
    justify-content: center;
    max-width: 90%;
    width: 36rem;
    margin: 0 auto;
}

.form-field {
    display: flex;
    margin-bottom: 5px;
    flex-grow: 1;
}

.form-field-input {
    flex-grow: 1;
    padding: .5rem;
    font-size: 1.05rem;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: hsl(210, 38%, 94%);
}

.form-field-input::placeholder {
    color: #a0aec0;
}

.form-field-submit {
    text-transform: uppercase;
    letter-spacing: .08em;
    cursor: pointer;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    color: #222;
    font-weight: 500;
    background-color: pink;
    transition: background-color 150ms ease-in-out;
}

.form-field-submit:hover {
    background-color: hsl(141, 25%, 86%);
}

.results {
    width: 30rem;
    max-width: 95%;
    margin: 0 auto 5px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 0.5rem;
    grid-auto-flow: dense;
}

.results-gif {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 32em) {
    .title {
        margin: 1.5rem;
        font-size: 2rem;
    }

    .form-field-input { font-size: .95rem; }

    .form-field-submit {
        font-size: .95rem;
        padding: .5rem 1.5rem;
    }
}

.giphContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 300px;
    border: black solid;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}
