:root{
    --bg-major: pink;
    --bg-minor: grey;
}


html, body{height: 100%;}

body{
    min-width: 400px;
    min-height: 450px;
    max-height: 2048px;
    max-width: 3090px;
    background-color: rgba(0, 0, 0, 0.435);
}

.card{
    width: 60px;
    text-align: center;
}

.reactionCount{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}




/* Front page */
#graphics {
    margin: 10px;
}


#login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}



/* Main.html */

#mainPage #toPost{
    background-color: var(--bg-major);
    height: 30%;
}

#toPost #userDetail, #postFilling, #reaction{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

#mainPage #allPosts{
    background-color: tan;
    height: 70%;
}

.postPreview{
    border: 1px solid black;
    border-radius: 5px;
    background-color: wheat;
}

.postPreview .info,.comment{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.postPreview .comment a{
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: grey;
    text-decoration: none;
    color: white;
    padding: 4px;
}

/* Post.html */
#post{
    background-color: var(--bg-major);
    height: 30%;
}

#commentSection{
    background-color: var(--bg-minor);
    height: 70%;
}

#postCol1,#reactions{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

#postContent{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

#reactions span{
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
    color: white;
    height: 50px;
    width: 50px;
    margin: 5px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#postDateTime,#postID{
    display: flex;
    justify-content: end;
}
