/* Root */
:root {
	--bg-major: pink;
	--bg-minor: rgb(255, 216, 144);
}

html,
body {
	height: 100%;
}

body {
	min-width: 550px;
	min-height: 450px;
	max-height: 2048px;
	max-width: 3090px;
	background-color: rgba(0, 0, 0, 0.435);
}

.card {
	width: 60px;
	text-align: center;
}

#login {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	font-family: "Nanum Gothic", sans-serif;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Marck Script", cursive;
	font-weight: 500;
	font-size: 500%;
}

/* Front page */ 
#frontPage {
    background-image: url('https://img.freepik.com/premium-vector/continuous-line-drawing-teenage-student-writing-notebook_497857-141.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* emoji selector*/
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + label {
    cursor: pointer;
}

[type=radio]:checked + label {
    background-color: rgba(37, 42, 180, 0.274);
}

/* Giphy selector*/


/* Main.html */

#mainPage #toPost {
	background-color: var(--bg-major);
	height: 30%;
}

#toPost #userDetail,
#postFilling,
#reaction {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#mainPage #allPosts {
	background-color: tan;
	height: 70%;
}

.postPreview {
	border: 1px solid black;
	border-radius: 5px;
	background-color: wheat;
}

/* Post.html */
#postPage #post{
    background-color: var(--bg-major);
    height: 30%;
}

#postPage #commentSection{
    background-color: var(--bg-minor);
    height: 60%;
}

#postPage #postComment{
    background-color: black;
    height: 10%;
}

#postCol1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#postContent {
	border: 1px solid black;
	border-radius: 5px;
}

.comment {
	border: 1px solid black;
	border-radius: 5px;
	background-color: wheat;
}

.commentContent {
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	align-items: center;
}



@media only screen and (max-width:650px){
    .card-body p{
        font-size: 15px;
    }
}
