html, body{height: 100%;}

body{
    min-width: 400px;
    min-height: 450px;
    max-height: 2048px;
    max-width: 3090px;
    background-color: grey;
}

.card{
    width: 60px;
    text-align: center;
}






/* Front page */ 
#frontPage {
    background-image: url('https://i.pinimg.com/originals/35/c3/35/35c33515c3805aed94144aade44afdda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#graphics {
    margin: 10px;
}


#login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-family: 'Handlee', cursive;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Marck Script', cursive;
    font-weight: 500;
    font-size: 500%;
}


/* Main page */

#mainPage #toPost{
    background-color: pink;
    height: 30%;
}

#toPost #userDetail, #post, #reaction{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

#mainPage #allPosts{
    background-color: tan;
    height: 70%;
}

.postPreview{
    border: 1px solid black;
    border-radius: 5px;
    background-color: wheat;
}

.postPreview .info,.comment{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
}

.reactionCount{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

}


